
body {
	font-family: "Arial";
	font-size: 20px;
	font-weight: normal;
}

.from-me {
  padding: 8px 15px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
  clear: both;
  margin-top: 5px;
}

.from-them {
  padding: 8px 15px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left;
  clear:both;
  margin-top: 5px;
}
